In [14]:
import tensorflow as tf
import numpy as np
from tensorflow.keras import models
from tensorflow.keras.models import load_model
import pandas as pd
import requests
import urllib
from urllib.request import urlopen
from bs4 import BeautifulSoup as bs
import matplotlib.pyplot as plt

In [6]:
dmodel = load_model('dailymodel.h5')
wmodel = load_model('weeklymodel.h5')
mmodel = load_model('monthlymodel.h5')

In [16]:
coid = input()

005930

In [20]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.272 Whale/2.9.118.16 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
    'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
    'Accept-Encoding': 'none',
    'Accept-Language': 'en-US,en;q=0.8',
    'Connection': 'keep-alive'}
url = "https://finance.naver.com/item/sise_day.nhn?code=%s"%(coid)
df = pd.DataFrame()
for i in range(1, 121):
    page_url = '{}&page={}'.format(url, i)
    req = urllib.request.Request(page_url, headers=headers)
    response = urllib.request.urlopen(req)
    html = bs(response.read(), 'lxml')    
    df = pd.concat([df, pd.read_html(str(html), header=0)[0]])
df = df.dropna()
print(df)

            날짜         종가      전일비         시가         고가         저가  \
1   2023.01.11    60800.0    400.0    61000.0    61200.0    60700.0
2   2023.01.10    60400.0    300.0    60200.0    61100.0    59900.0
3   2023.01.09    60700.0   1700.0    59700.0    60700.0    59600.0
4   2023.01.06    59000.0    800.0    58300.0    59400.0    57900.0
5   2023.01.05    58200.0    400.0    58200.0    58800.0    57600.0
..         ...        ...      ...        ...        ...        ...
9   2018.03.08  2460000.0  29000.0  2460000.0  2474000.0  2404000.0
10  2018.03.07  2431000.0  80000.0  2410000.0  2445000.0  2361000.0
11  2018.03.06  2351000.0  91000.0  2296000.0  2355000.0  2291000.0
12  2018.03.05  2260000.0  41000.0  2291000.0  2308000.0  2254000.0
13  2018.03.02  2301000.0  52000.0  2329000.0  2340000.0  2300000.0

           거래량
1    3117346.0
2   14859797.0
3   18640107.0
4   17334989.0
5   15682826.0
..         ...
9     389273.0
10    428541.0
11    308467.0
12    282019.0
13    265310.0

[1200 rows x 7 columns]

array([['2023.01.11', 60800.0, 400.0, ..., 61200.0, 60700.0, 3117346.0],
       ['2023.01.10', 60400.0, 300.0, ..., 61100.0, 59900.0, 14859797.0],
       ['2023.01.09', 60700.0, 1700.0, ..., 60700.0, 59600.0, 18640107.0],
       ...,
       ['2018.03.06', 2351000.0, 91000.0, ..., 2355000.0, 2291000.0,
        308467.0],
       ['2018.03.05', 2260000.0, 41000.0, ..., 2308000.0, 2254000.0,
        282019.0],
       ['2018.03.02', 2301000.0, 52000.0, ..., 2340000.0, 2300000.0,
        265310.0]], dtype=object)

In [49]:
arr = df.to_numpy()
arr = arr[:,1].reshape(-1,1)
temp = [[0] * len(arr[0]) for _ in range(len(arr))]
for i in range(len(arr)):
    temp[i] = arr[len(arr)-1-i]
temp = np.array(temp).astype(float)
print(temp)
arr = temp[-1147:]
print(arr.shape)

[[2301000.]
 [2260000.]
 [2351000.]
 ...
 [  60700.]
 [  60400.]
 [  60800.]]
(1147, 1)